body{
    background-image: url("BG_stars.png");
    background-size:100%;
    background-repeat: repeat;
}
/* .top{

} */
.main_list{
    position: absolute;;
    top:120px;
    left:22%;
    right:22%;
    padding:10px;
    text-align: center;
    background-color:white;
    display:block;
    width:auto;
    height:auto;
}
.item_list img{
    width:50px;
    transition: all 0.3s;
}
.item_list img:hover{
    transform: scale(1.2);
}
img{
    margin: 2px;
}
/* .imformation{
    
} */
.imfor_block{
    position: fixed;
    top:150px;
    left:80%;
    right:10px;
    bottom:200px;
    padding:20px;
    background-color:gray;
    border:1px black static;
}